.scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 7rem;
    padding: 2rem 0;
    position: relative;
}

.reset {
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    right: -75px;
    top: 50%;
    transform: translateY(-50%);
}

.speed {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}